@import "../../Styles/variable";
@import "../../Styles/mixins";

.About {
  &__container {
    @include paddingLeftBig;
    @include respond(mobile) {
      padding-left: 10px;
    }
  }

  &__banner {
    display: flex;
    align-items: flex-end;

    @include respond(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 40px;
    white-space: pre-line;
    width: min-content;
  }

  &__subtitle {
    max-width: 160px;
    margin-left: 1rem;
    margin-bottom: 3.5rem;
  }

  &__desc {
    max-width: 360px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 100px;
  }

  &__wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;

    @include respond(mobile) {
      grid-template-columns: 1.5fr 1fr;
      gap: 20px;
    }
  }

  &__textSmall {
    font-size: 20px;

    font-weight: 400;

    span {
      border-radius: 8px;
      background-color: $yellow_main;
      color: $black_main;
      margin-right: 6px;
      min-width: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 23px;
      line-height: 23px;
      position: relative;
      bottom: 4px;
      font-weight: 600;

      @include respond(mobile) {
        bottom: 1px;
        font-size: 25px;
        height: 27px;
        line-height: 0px;
      }
    }
  }

  &__team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    justify-items: center;

    @include respond(mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }

    img {
      max-width: 300px;
      width: 100%;
      display: block;
      height: auto;
      mix-blend-mode: lighten;
      position: relative;
      &:nth-child(1) {
        @include respond(mobile) {
          top: 0;
          left: -30px;
        }
      }

      &:nth-child(2) {
        top: 60px;
        right: 60px;

        @include respond(mobile) {
          top: 0;
          left: 30px;
        }
      }

      &:nth-child(3) {
        right: 100px;
        top: 60px;

        @include respond(mobile) {
          left: -30px;
          top: unset;
        }
      }

      &:nth-child(4) {
        right: 150px;
        top: 120px;

        @include respond(mobile) {
          top: unset;
          right: unset;
          right: -30px;
          top: 0px;
        }
      }
    }
  }

  &__slice {
    background-color: $yellow_main;
    color: $black_main;
  }

  &__textBig {
    font-size: 60px;

    @include respond(tablet) {
      font-size: 50px;
    }

    @include respond(tabletS) {
      font-size: 40px;
    }

    @include respond(mobile) {
      font-size: 30px;
    }

    span {
      background-color: $black_main;
      color: $yellow_main;
      border-radius: 40px;
      font-size: 40px;
      font-weight: 600;
      line-height: 46px;
      height: 45px;
      width: 80px;
      margin-right: 10px;
      border-radius: 8px;
      margin-right: 1rem;
      min-width: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 9px;

      @include respond(mobile) {
        bottom: -1px;
        font-size: 33px;
        padding: 0px 30px;
      }
    }
  }
}
