@import "../../../Styles/mixins";

.AboutHome {
  &__title {
    margin-bottom: 60px;
    @include paddingLeftSmall;
  }

  &__subtitle {
    max-width: 700px;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    @include paddingLeftSmall;

    @include respond(mobile) {
      font-size: 20px;
      margin-left: 0;
    }
  }
  &__text {
    font-size: 20px;
    max-width: 850px;
    margin-bottom: 60px;
    @include paddingLeftBig;

    @include respond(mobile) {
      font-size: 16px;
    }
  }
}
