@import "../../Styles/mixins";

.Section {
  padding: 160px 0;
  @include respond(tablet) {
    padding: 100px 0;
  }
  @include respond(tabletS) {
    padding: 80px 0;
  }
  @include respond(mobile) {
    padding: 50px 0;
  }
}
