@mixin btn {
  color: $yellow_main;
  padding: 3px 6px;
  border-radius: 30px;
  border: 1px solid $yellow_main;
  font-size: 12px;
  margin-right: 4px;
  cursor: pointer;
}

@mixin paddingLeftBig {
  padding-left: 400px;
  @include respond(tablet) {
    padding-left: 200px;
  }
  @include respond(tabletS) {
    padding-left: 120px;
  }
  @include respond(mobile) {
    padding-left: 80px;
  }
}

@mixin paddingLeftSmall {
  padding-left: 220px;
  @include respond(tablet) {
    padding-left: 150px;
  }
  @include respond(tabletS) {
    padding-left: 80px;
  }
  @include respond(mobile) {
    padding-left: 0px;
  }
}
@mixin bigTitle {
  font-size: 120px;
  font-weight: 400;
  @include respond(tablet) {
    font-size: 80px;
  }
  @include respond(tabletS) {
    font-size: 60px;
  }
  @include respond(mobile) {
    font-size: 46px;
  }
}

@mixin title {
  font-size: 20px;
  font-weight: 400;
  @include respond(tablet) {
    font-size: 80px;
  }
  @include respond(tabletS) {
    font-size: 60px;
  }
  @include respond(mobile) {
    font-size: 46px;
  }
}

@mixin btnAnim {
  background: radial-gradient(circle at center, rgba(34, 34, 34, 0) 0%, #3f3f3f 0%, #3f3f3f 100%);
  background-size: 100%;
  animation: gradient 1s linear;
}

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, #3f3f3f 0%, #3f3f3f 100%);
  }
  10% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 10%, #3f3f3f 10%, #3f3f3f 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba(44, 44, 44, 0.3) 25%, #3f3f3f 25%, #3f3f3f 100%);
  }
  30% {
    background: radial-gradient(circle at center, rgba(44, 44, 44, 0.3) 25%, #3f3f3f 25%, #3f3f3f 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba(20, 20, 20, 0.5) 50%, #3f3f3f 50%, #3f3f3f 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba(65, 65, 65, 0.8) 75%, #3f3f3f 75%, #3f3f3f 100%);
  }
  100% {
    background: radial-gradient(
      circle at center,
      rgb(43, 43, 43) 99%,
      rgb(37, 37, 37) 100%,
      rgb(26, 26, 26) 100%
    );
  }
}

$smallMobile: 375px;
$mobile: 600px;
$tabletS: 820px;
$tablet: 1200px;

@mixin respond($media) {
  @if $media==smallmobile {
    @media (max-width: $smallMobile) {
      @content;
    }
  } @else if $media==mobile {
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $media==tabletS {
    @media (max-width: $tabletS) {
      @content;
    }
  } @else if $media==tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
}
