@import "../../Styles/mixins";

.ProjectList {
  h1 {
    @include paddingLeftSmall;
    @include respond(mobile) {
      padding-left: 80px;
    }
  }
  &__banner {
    @include paddingLeftSmall;
    @include respond(mobile) {
      margin-bottom: 100px;
    }
  }

  &__title {
    @include bigTitle;
  }

  &__titleWrapper {
    display: flex;
    align-items: center;
  }

  &__subtitle {
    max-width: 300px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 1rem;
    @include respond(mobile) {
      font-size: 20px;
      position: relative;
      top: 22px;
      max-width: 200px;
    }
  }
}
