@import "../../Styles/mixins";

.ProjectList {
  &__banner {
    @include paddingLeftSmall;
    @include respond(mobile) {
      margin-bottom: 100px;
    }
  }

  &__title {
    &-1 {
      @include paddingLeftSmall;
      line-height: 0px;
      position: relative;
      bottom: -60px;
      @include respond(mobile) {
        padding-left: 80px;
      }
    }
    @include bigTitle;
  }

  &__titleWrapper {
    display: flex;
    align-items: center;
  }

  &__subtitle {
    max-width: 300px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 1rem;
    position: relative;
    top: 12px;
    @include respond(tablet) {
      top: 20px;
      max-width: 200px;
    }
    @include respond(mobile) {
      font-size: 20px;
      top: 22px;
      max-width: 200px;
    }
  }
}
