@import "../../Styles/mixins";

.ProjectRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @include respond(tabletS) {
    margin-bottom: 20px;
  }

  @include respond(mobile) {
    margin-bottom: 30px;
  }

  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    @include respond(tablet) {
      font-size: 60px;
    }

    @include respond(tabletS) {
      font-size: 45px;
    }

    @include respond(mobile) {
      font-size: 30px;
    }
  }
  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
  }
}
