@import "../../Styles/variable";
@import "../../Styles/mixins";

.Header {
  height: 33px;
  width: 100%;
  margin-top: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: underline;

    img {
      margin-right: 5px;
    }
  }

  &__nav {
    &-list {
      list-style: none;
      display: flex;
      align-items: center;
    }

    &-item {
      @include btn;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
